<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Windows/Downloads/Framework/QA-Strengths">
        <classes>
            <class name="BSelenium.AElements2"/>
        </classes>
    </test>
</suite>
<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Windows/Downloads/Framework/QA-Strengths"><classes/></test></suite>-->